body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(43, 42, 42);
}

h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 0;
}

form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    margin: 1.5px 0;
    outline: none;
}

.submit {
    color: white;
    background-color: rgb(191, 35, 35);
    padding: 2.5px 10px;
    border-radius: 5px;
}

.item {
    text-align: center;
    box-shadow: 0px 0px 10px #e50914;
    width: 300px;
    margin: 10px auto;
    padding-top: 5px;
    padding-bottom: 5px;
}